$nomeVariabile : rgb(158, 54, 54);//un solo valore

$dimensioni-fonts : 0.8rem, 1rem, 1.5rem;//tanti valori

$sizes : (//tante coppie chiave/ valore
    sm: 12px,
    normal: 16px,
    md: 24px,
    lg: 36px,
    xl: 48px,
    xxl: 160px
);