.underline-bg{
    display: inline;
    position: relative;
    text-wrap: nowrap;
}
.underline-bg::after{
    content:"";
    background-image:url(../img/underline.svg);
    width: 100%;
    height: 50px;
    display: block;
    background-repeat: no-repeat;
    background-position:center bottom;
    background-size:contain;
    position: absolute;
    bottom: -10px;
    left: 0;
    opacity: 0.7;
}

.fixed-icons-wrapper{
    position: fixed;
    right: -10px;
    bottom: 15px;
}
.fixed-icon{
    padding: 10px;
    display: block;
    font-size: 1.5rem;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #ffffff;
    margin-top:15px;
    transition: all 0.3s;
}
.fixed-icon:hover{
    background-color: rgb(255, 255, 255);
    position: relative;
    margin-left: -10px;
}


.plus-icon, .calendar-icon{
    color:rgb(76 102 183);
}
#btt{
    color: #d56767
}
