:root{
    --bs-secondary-rgb: 131, 28, 0;
}

.navbar.bg-dark a{
    color: #fff;
}
.nav-pills {
    --bs-nav-pills-link-active-bg: red;
}

.logo{
    width: 100px;
}

.carousel-custom .carousel-item{
    height: 400px;
    background-position: center;
    background-size: cover;
}
.carousel-custom .carousel-item img{
    visibility: hidden;
}