<h1>titolo</h1>
<app-projection>

  <div class="col-6" #elementoProiettato>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam et, tempora rerum provident deserunt cupiditate non qui odio laborum similique commodi praesentium nihil repudiandae voluptatem animi! Officiis autem inventore nulla?
  </div>
  <div class="col-6">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam et, tempora rerum provident deserunt cupiditate non qui odio laborum similique commodi praesentium nihil repudiandae voluptatem animi! Officiis autem inventore nulla?
  </div>

</app-projection>


<hr>

<app-multi-projection>

  <p slot="area1">contenuto del primo slot</p>
  <p slot="area2">contenuto del secondo slot</p>

</app-multi-projection>

<div #elemento>
  Elemento marchiato
</div>
