:root{
    --azzurro-chiaro: rgb(0, 160, 198);
    --azzurro-scuro: rgba(3, 109, 134, 1);
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.8rem;
    padding: 20px;
    background-image: url(../img/sfondo.png);
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

h1{
    font-size:2rem;
    line-height: 3rem;
    margin-bottom: 20px;
}
h2{
    font-size:1.4rem;
}
h3{
    font-size:1.3rem;
}
h4{
    font-size:1.2rem;
}

ul:not(#menu){
    list-style-type: disc;
}
ol{
    list-style-type: decimal;
}

ol, ul:not(#menu){
    padding-left: 20px;
    list-style-position: inside;
}
/*header*/

#header{
    background-image: linear-gradient(180deg, var(--azzurro-chiaro), var(--azzurro-scuro));
    padding: 40px 0;
    margin-bottom: 20px;
}
#header, #footer{
    text-align: center;
    color: #fff;
}

#menu li:before{
    content: "⇒";
}
#menu li:after{
    content: "⇐";
}

#menu a{
    color: #fff;
    text-decoration: none;
}

/*corpo*/
.container{
    background-color: white;
    margin-bottom: 20px;
    padding: 40px 18px;
    box-sizing: border-box;
}
.container code{
    background-color:rgb(192, 192, 192);
    border: 1px solid #808080;
    border-radius: 5px;
    padding: 2px;
}

.post-meta{
    color: #808080;
    margin-bottom: 30px;
}

.table{
    width: 100%;
    text-align: center;
}

.table thead tr{
    background-color: var(--azzurro-scuro);
}
.table thead th{
    padding: 30px;
    color: white;
    border-left: 1px solid var(--azzurro-chiaro);
}
.table tbody td{
    padding: 20px 30px;
}
.table tbody tr:nth-last-of-type(even){
    background-color: #ccc;
    border-top: 1px solid #808080;
    border-bottom: 1px solid #808080;
}
/*footer*/

#footer{
    background-image: linear-gradient(180deg, var(--azzurro-chiaro), var(--azzurro-scuro));
    padding: 15px;
}