.area3d{
    transform-style: preserve-3d;
    perspective: 400px;
    height: 100vh;
}
#cubo{
    transform-style: preserve-3d;
    perspective: 5600px;
    position: relative;
    left: 0px;
    top: 600px;
    width: 200px;
    height: 200px;
    transform: translateZ(-500px);
}
.faccia{
    width: 200px;
    height: 200px;
    background-image: linear-gradient(to top, red, black);
    border: 3px solid #000;
    position: absolute;
    background-size: cover;
}
.retro{
    background-image: url(https://picsum.photos/id/237/1200/1000);
    background-size: cover;
}
.top{
    transform-origin: top;
    transform: rotateX(90deg);
}
.bottom{
    background-image: url(https://picsum.photos/id/237/1200/1000);
    transform: rotateX(-90deg);
    transform-origin: bottom;
}
.sx{
    transform: rotateY(-90deg);
    transform-origin: left;
}
.dx{
    transform: rotateY(90deg);
    transform-origin: right;
}